@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

.header__navigate .nav-container .auth .btn-arrow, .btn-arrow {
  position: relative;
  padding: 16px 34px 16px 24px;
  font-size: 18px;
  background-color: #4F9CF9;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}
.header__navigate .nav-container .auth .btn-arrow img, .btn-arrow img {
  position: absolute;
  top: 21px;
  margin-left: 10px;
}

.header__navigate .nav-container .auth .btn-arrow:hover, .btn-arrow:hover {
  background-color: rgb(255, 228, 146);
  color: #043873;
}
.header__navigate .nav-container .auth .btn-arrow:hover img, .btn-arrow:hover img {
  display: none;
}

.main .trial .head, .main .testimonial .head, .main .apps .text-container .head, .main .sponsors__wrapper .head, .main .your-data .text-container .head, .main .your-work .text-container .head, .main .pricing .text-container .head, .main .customise__wrapper .text-container .head, .main .use-as__wrapper .text-container .head, .main .work__wrapper .text-container .head, .main .management__wrapper .text-container .head, .main .hero__wrapper .text-container .head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

.main .apps .text-container .text, .main .your-data .text-container .text, .main .your-work .text-container .text-wrapper .text, .main .pricing .text-container .text-wrapper .text, .main .customise__wrapper .text-container .text, .main .use-as__wrapper .text-container .text, .main .work__wrapper .text-container .text, .main .management__wrapper .text-container .text, .main .hero__wrapper .text-container .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  padding-top: 24px;
  padding-bottom: 60px;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 220px;
}

.img {
  width: 100%;
  height: auto;
}

.bg-prime {
  background-color: #043873;
}

.ptb {
  padding: 140px 0;
}

.bg-lines {
  background-image: url("img/Element-bg3.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}

.button-container_ptb40 {
  padding: 40px 0;
}

.button-container_mt23 {
  margin-top: 23px;
}

.footer_pb32 {
  padding-bottom: 32px;
}

.header {
  background-color: #043873;
}
.header__navigate {
  display: flex;
  justify-content: space-between;
}
.header__navigate .logo {
  display: flex;
  align-items: center;
}
.header__navigate .nav-container {
  display: flex;
  align-items: center;
  padding: 16px 0;
}
.header__navigate .nav-container .menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header__navigate .nav-container .menu__item {
  display: flex;
  align-items: center;
  padding: 13px 0;
}
.header__navigate .nav-container .menu__item:hover {
  text-decoration-line: underline;
}
.header__navigate .nav-container .menu__link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}
.header__navigate .nav-container .menu__svg {
  padding: 10px 10px 10px 15px;
  margin-right: 32px;
}
.header__navigate .nav-container .auth {
  display: flex;
  align-items: center;
}
.header__navigate .nav-container .auth__btn {
  font-size: 18px;
  padding: 16px 40px;
  background-color: #4F9CF9;
  border-radius: 8px;
  color: #FFFFFF;
  margin-right: 24px;
  margin-left: 28px;
  border: none;
}
.header__navigate .nav-container .auth__btn:hover {
  background-color: rgb(255, 228, 146);
  color: #043873;
}
.main .hero {
  padding: 140px 0;
}
.main .hero__container {
  background-image: url("img/El-bg.svg");
  background-repeat: no-repeat;
  background-position-y: 60px;
  background-position-x: 10px;
}
.main .hero__wrapper {
  display: flex;
}
.main .hero__wrapper .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .hero__wrapper .text-container .head {
  color: #FFFFFF;
  font-size: 64px;
}
.main .hero__wrapper .text-container .text {
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main .hero__wrapper-img {
  max-width: 824px;
  max-height: 549px;
}
.main .management {
  padding: 140px 0 100px 0;
}
.main .management__container {
  background-image: url("img/el-bg2.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
}
.main .management__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.main .management__wrapper .text-container {
  max-width: 672px;
  height: auto;
  padding: 60px 0;
}
.main .management__wrapper .text-container .head {
  position: relative;
  color: rgb(0, 0, 0);
  line-height: 87px;
  margin: 0;
}
.main .management__wrapper .text-container .head__line {
  position: absolute;
  top: 120px;
  left: 10px;
  z-index: -1;
}
.main .management__wrapper .text-container .text {
  color: rgb(0, 0, 0);
}
.main .management__wrapper__wrapper-img {
  max-width: 748px;
  max-height: 547px;
}
.main .work {
  padding-bottom: 140px;
}
.main .work__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.main .work__wrapper .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 672px;
  max-height: 411px;
}
.main .work__wrapper .text-container .head {
  position: relative;
  color: rgb(0, 0, 0);
  line-height: 87px;
  margin: 0;
}
.main .work__wrapper .text-container .head__line {
  position: absolute;
  top: 62px;
  left: 220px;
  z-index: -1;
}
.main .work__wrapper .text-container .text {
  color: rgb(0, 0, 0);
}
.main .work__wrapper__wrapper-img {
  max-width: 740px;
  max-height: 661px;
}
.main .use-as {
  position: relative;
  background-color: #043873;
  padding: 140px 0;
  z-index: 0;
}
.main .use-as__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 98px;
}
.main .use-as__wrapper .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 672px;
  max-height: 411px;
}
.main .use-as__wrapper .text-container .head {
  position: relative;
  color: #FFFFFF;
  margin: 0;
}
.main .use-as__wrapper .text-container .head__line {
  position: absolute;
  top: 65px;
  left: 168px;
  z-index: 1;
}
.main .use-as__wrapper .text-container .text {
  color: #FFFFFF;
}
.main .use-as__wrapper .use-as__wrapper-img {
  max-width: 686px;
  max-height: 479px;
}
.main .customise__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 92px;
}
.main .customise__wrapper .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 669px;
  height: auto;
}
.main .customise__wrapper .text-container .head {
  position: relative;
  color: rgb(0, 0, 0);
  margin: 0;
}
.main .customise__wrapper .text-container .head__line {
  position: absolute;
  top: 110px;
  left: -9px;
  z-index: -1;
}
.main .customise__wrapper .text-container .text {
  color: rgb(0, 0, 0);
}
.main .customise__wrapper-img {
  max-width: 714px;
  height: auto;
}
.main .pricing .text-container {
  text-align: center;
}
.main .pricing .text-container .head {
  position: relative;
  color: black;
}
.main .pricing .text-container .head__line {
  position: absolute;
  top: 52px;
  left: 740px;
  z-index: -1;
}
.main .pricing .text-container .text-wrapper {
  display: flex;
  justify-content: center;
}
.main .pricing .text-container .text-wrapper .text {
  color: black;
  max-width: 979px;
}
.main .pricing .card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.main .pricing .card-container .plan {
  transition: 1.5s;
  border: rgb(255, 228, 146) solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 44px;
  gap: 25px;
}
.main .pricing .card-container .plan .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}
.main .pricing .card-container .plan .prise {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  letter-spacing: -0.02em;
}
.main .pricing .card-container .plan .plan-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.02em;
}
.main .pricing .card-container .plan .plan-list__item-wrapper {
  display: flex;
  gap: 19px;
  align-items: center;
}
.main .pricing .card-container .plan .btn-get-started {
  padding: 16px 40px;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 8px;
}
.main .pricing .card-container .plan .btn-get-started .prise, .main .pricing .card-container .plan .btn-get-started .description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
}
.main .pricing .card-container .plan:hover {
  padding: 80px 44px;
  background: #043873;
  color: white;
  border: none;
}
.main .pricing .card-container .plan:hover .prise {
  color: #FFE492;
}
.main .pricing .card-container .plan:hover .plan-list__icon-check {
  filter: invert(1);
}
.main .pricing .card-container .plan:hover .btn-get-started {
  background-color: #4F9CF9;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
}
.main .pricing .card-container .plan:hover .btn-get-started:hover {
  background-color: #FFE492;
  color: #043873;
}
.main .your-work {
  padding: 140px 0;
}
.main .your-work__container {
  position: relative;
}
.main .your-work__bg2 {
  position: absolute;
  top: -330px;
  left: 0;
}
.main .your-work .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .your-work .text-container .head {
  position: relative;
  z-index: 0;
  color: white;
}
.main .your-work .text-container .head__line {
  position: absolute;
  top: 60px;
  left: 760px;
  z-index: -1;
}
.main .your-work .text-container .text-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
.main .your-work .text-container .text-wrapper .text {
  color: white;
  max-width: 1064px;
}
.main .your-data {
  padding: 140px 0 100px 0;
}
.main .your-data__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .your-data .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}
.main .your-data .text-container .head {
  position: relative;
  color: rgb(0, 0, 0);
}
.main .your-data .text-container .head__line {
  position: absolute;
  top: 63px;
  left: 210px;
  z-index: -1;
}
.main .your-data .text-container .text {
  color: rgb(0, 0, 0);
}
.main .your-data .img-container {
  max-width: 681px;
  max-height: 382px;
}
.main .sponsors__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .sponsors__wrapper .head {
  position: relative;
  color: rgb(0, 0, 0);
  padding-bottom: 100px;
}
.main .sponsors__wrapper .head__line {
  position: absolute;
  top: 55px;
  left: 150px;
  z-index: -1;
}
.main .sponsors__content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.main .apps__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.main .apps .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 798px;
  max-height: 468px;
}
.main .apps .text-container .head {
  color: #FFFFFF;
  margin: 0;
}
.main .apps .text-container .text {
  color: #FFFFFF;
}
.main .apps .img-container {
  max-width: 714px;
  max-height: 532px;
}
.main .testimonial__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .testimonial .head {
  position: relative;
  color: rgb(0, 0, 0);
}
.main .testimonial .head__line {
  position: absolute;
  top: 30px;
  left: 575px;
  z-index: -1;
}
.main .testimonial .clients {
  display: flex;
  gap: 32px;
  padding: 60px 0;
}
.main .testimonial .clients .card {
  transition: 1.5s;
  padding: 60px 40px;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #4F9CF9;
  color: white;
}
.main .testimonial .clients .card .top-part {
  max-width: 392px;
  border-bottom: white solid 1px;
}
.main .testimonial .clients .card .top-part .header-img {
  filter: invert(1) grayscale(100%) brightness(100);
}
.main .testimonial .clients .card .top-part .text {
  padding-top: 32px;
  padding-bottom: 40px;
}
.main .testimonial .clients .card .bottom-part {
  display: flex;
  padding-top: 60px;
  gap: 42px;
  max-width: 383px;
}
.main .testimonial .clients .card .bottom-part .name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
  color: #043873;
}
.main .testimonial .clients .card .bottom-part .talent {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.main .testimonial .clients .card:hover {
  background-color: #FFFFFF;
  color: black;
}
.main .testimonial .clients .card:hover .header-img {
  filter: none;
}
.main .testimonial .clients .card:hover .top-part-block {
  max-width: 392px;
  border-bottom: black solid 1px;
}
.main .testimonial .slider-block {
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.main .testimonial .slider-block .slider-item {
  width: 12px;
  height: 12px;
  background-color: #4F9CF9;
  border-radius: 60%;
}
.main .testimonial .slider-block .active {
  background-color: #043873;
}
.main .trial__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 608px;
  text-align: center;
}
.main .trial .head {
  color: white;
}
.main .trial .text-wrapper {
  margin: 0 auto;
  width: 550px;
  height: auto;
}
.main .trial .text-wrapper .text1 {
  margin-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.main .trial .after-btn-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.main .trial .os-block {
  padding-top: 40px;
  padding-bottom: 32px;
}
.main .trial .os-block .os-logo-windows {
  margin: 0 40px;
}

.footer__top-part {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.footer__logo {
  width: 240px;
  height: auto;
  margin-right: 100px;
}
.footer__logo .text-under-logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.02em;
  color: #F7F7EE;
}
.footer__column-wrapper {
  width: 205.25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__column-wrapper .header {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.footer__column-wrapper .item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.footer__column-wrapper .item:hover {
  color: #FFE492;
}
.footer__aside {
  width: 259px;
}
.footer__aside .head {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  /* identical to box height, or 129% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: 23px;
}
.footer__aside .text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* or 125% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.footer .line {
  border-bottom: rgb(46, 78, 115) solid 1px;
  margin-bottom: 52.93px;
}
.footer__bottom-part {
  display: flex;
  justify-content: space-between;
}
.footer .left-part-footer {
  display: flex;
  gap: 60px;
}
.footer .left-part-footer .lang {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.footer .left-part-footer .lang-block:hover {
  color: #caec3a;
}
.footer .left-part-footer .site-block {
  display: flex;
  gap: 60px;
}
.footer .left-part-footer .site-block .item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.footer .left-part-footer .site-block .item:hover {
  color: #FFE492;
}
.footer .right-part-footer {
  display: flex;
  gap: 32px;
}

@media (max-width: 1880px) {
  .container {
    max-width: 1800px;
    padding: 0 100px;
  }
}
@media (max-width: 1680px) {
  .container {
    max-width: 1678px;
    padding: 0 40px;
  }
}
@media (max-width: 1581px) {
  .container {
    max-width: 1400px;
    padding: 0 32px;
  }
  .main .hero {
    padding: 100px 0;
  }
  .main .hero__container {
    background-image: url("img/El-bg.svg");
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: -170px;
  }
  .main .hero__wrapper-img {
    max-width: 685px;
    height: auto;
  }
  .main .management {
    background-image: url("img/el-bg2.svg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: -190px;
  }
  .main .management .text-container {
    max-width: 617px;
    height: auto;
    padding: 0;
  }
  .main .management__container {
    background-image: none;
  }
  .main .management__wrapper {
    gap: 0;
  }
  .main .management__wrapper__wrapper-img {
    max-width: 719px;
    max-height: 448px;
  }
  .main .work__wrapper {
    gap: 160px;
  }
  .main .work .text-container {
    max-width: 593px;
    max-height: 324px;
  }
  .main .work__wrapper-img {
    max-width: 583px;
    max-height: 543px;
  }
  .main .use-as__wrapper .text-container {
    max-width: 552px;
    max-height: 381px;
  }
  .main .use-as__wrapper .text-container .head__line {
    top: 153px;
    left: -66px;
  }
  .main .customise__wrapper-img {
    max-width: 670px;
    height: auto;
  }
  .main .customise__wrapper .text-container {
    max-width: 606px;
    height: auto;
  }
  .main .your-work {
    background-image: url("img/bg2-el.svg");
    background-repeat: no-repeat;
    background-position: -258px -191px;
  }
  .main .your-work__bg2 {
    display: none;
  }
}
@media (max-width: 1270px) {
  .header .menu-container {
    display: none;
  }
  .container {
    max-width: 1269.8px;
  }
  .main .hero__wrapper {
    justify-content: space-between;
  }
  .main .hero__wrapper .text-container {
    max-width: 526px;
    height: auto;
  }
  .main .hero__container {
    background-image: url("img/El-bg.svg");
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: -170px;
  }
  .main .hero__wrapper-img {
    max-width: 526px;
    height: 361px;
  }
  .main .management {
    background-image: url("img/el-bg2.svg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: -190px;
  }
  .main .management .text-container {
    max-width: 617px;
    height: auto;
    padding: 0;
  }
  .main .management__container {
    background-image: none;
  }
  .main .management__wrapper {
    gap: 0;
  }
  .main .management__wrapper__wrapper-img {
    max-width: 719px;
    max-height: 448px;
  }
  .main .work__wrapper {
    gap: 160px;
  }
  .main .work .text-container {
    max-width: 593px;
    max-height: 324px;
  }
  .main .work__wrapper-img {
    max-width: 583px;
    max-height: 543px;
  }
  .main .use-as__wrapper .text-container {
    max-width: 552px;
    max-height: 381px;
  }
  .main .use-as__wrapper .text-container .head__line {
    top: 153px;
    left: -66px;
  }
  .main .customise__wrapper-img {
    max-width: 670px;
    height: auto;
  }
  .main .customise__wrapper .text-container {
    max-width: 606px;
    height: auto;
  }
  .main .your-work {
    background-image: url("img/bg2-el.svg");
    background-repeat: no-repeat;
    background-position: -258px -191px;
  }
  .main .your-work__bg2 {
    display: none;
  }
}

/*# sourceMappingURL=Style.css.map */
