@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

%button-style{
  position: relative;
  padding: 16px 34px 16px 24px;
  font-size: 18px;
  background-color: #4F9CF9;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  img{
    position: absolute;
    top: 21px;
    margin-left: 10px;
  }
}

%button-hover{
  background-color:rgba(255, 228, 146, 1);
  color: #043873;
  img{
    display: none;
  }

}

%h2-style{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

%text-style{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  padding-top: 24px;
  padding-bottom: 60px;
}

@mixin stylingH2($color){
  @extend %h2-style;
  color:$color;
}

@mixin stylingP($color){
  @extend %text-style;
  color:$color;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 220px;
}

.header {
  background-color: #043873;

  &__navigate {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
    }

    .nav-container {
      display: flex;
      align-items: center;
      padding: 16px 0;
      .menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        &__item {
          display: flex;
          align-items: center;
          padding: 13px 0;
        }

        &__item:hover {
          text-decoration-line: underline;
        }

        &__link {
          text-decoration: none;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          color: #FFFFFF;
        }

        &__svg {
          padding: 10px 10px 10px 15px;
          margin-right: 32px;
        }
      }
      .auth {
        display: flex;
        align-items: center;
        &__btn {
          font-size: 18px;
          padding: 16px 40px;
          background-color: #4F9CF9;
          border-radius: 8px;
          color: #FFFFFF;
          margin-right: 24px;
          margin-left: 28px;
          border: none;
        }
        &__btn:hover {
          background-color: rgba(255, 228, 146, 1);
          color: #043873;
        }

        .btn-arrow {
          @extend %button-style;
        }

        .btn-arrow:hover {
          @extend %button-hover;
        }
      }
    }
  }
}

.main-page {
    .page-section1 {
      background-color: #043873;
      padding: 140px 0;
      .container{
        background-image: url("img/El-bg.svg");
        background-repeat: no-repeat;
        background-position-y: center;
        .wrapper-content-section {
          display: flex;
          .text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .heading {
              @include stylingH2(#FFFFFF);
              font-size: 64px;
            }

            .text {
              @include stylingP(#FFFFFF);
              text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }

            .button-container {
              width: 100%;

              .try-free-button2 {
                @extend %button-style;
              }

              .try-free-button2:hover {
                @extend %button-hover;
              }
            }
          }
          .img-container {
            max-width: 824px;
            max-height: 549px;
            background-color: #4F9CF9;

            .img-city {
              width: 100%;
              height: auto;
            }

          }
        }
      }


    }
    .page-section2 {
      padding: 140px 0 100px 0;
      .container {
        background-image: url("img/el-bg2.svg");
        background-repeat: no-repeat;
        background-position-y: bottom;
      }
      .section-container {
        display: flex;
        justify-content: space-between;
        .text-container2 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          max-width: 672px;
          max-height: 411px;
          .heading {
            position: relative;
            @include stylingH2(rgba(0, 0, 0));
            line-height: 87px;
            margin: 0;
            .line1{
              position: absolute;
              top: 120px;
              left: 10px;
              z-index: -1;
            }
          }

          .text {
            @include stylingP(rgba(0, 0, 0));
          }

          .button-container {
            width: 100%;

            .try-free-button2 {
              @extend %button-style;
            }

            .try-free-button2:hover {
              @extend %button-hover;
            }
          }
        }

        .img-container2 {
          max-width: 748px;
          max-height: 547px;
          background-color: #4F9CF9;

          .img-pjct-mng {
            width: 100%;
            height: auto;
          }

        }
      }
    }
    .page-section3 {
    padding-bottom: 140px;
    .section-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text-container3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 100px;
        max-width: 672px;
        max-height: 411px;
        .heading {
          position: relative;
          @include stylingH2(rgba(0, 0, 0));
          line-height: 87px;
          margin: 0;
          .line2{
            position: absolute;
            top: 62px;
            left: 220px;
            z-index: -1;
          }
        }

        .text {
          @include stylingP(rgba(0, 0, 0));
        }

        .button-container {
          width: 100%;

          .try-now-button3 {
            @extend %button-style;
          }

          .try-now-button3:hover {
            @extend %button-hover;
          }
        }
      }

      .img-container3 {
        max-width: 740px;
        max-height: 661px;
        .img-work {
          vertical-align: bottom;
          width: 100%;
          height: auto;
        }

      }
    }
  }
    .page-section4 {
      position: relative;
      background-color: #043873;
      padding: 140px 0;
      z-index: 0;
    .section-container {
      display: flex;
      justify-content: space-between;
      .text-container4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 672px;
        max-height: 411px;
        .heading {
          position: relative;
          @include stylingH2(#FFFFFF);
          margin: 0;
          .line4{
            position: absolute;
            top: 65px;
            left: 168px;
            z-index: 1;
          }
        }
        .text {
          @include stylingP(#FFFFFF);
        }
        .button-container {
          width: 100%;
          .try-now-button4 {
            @extend %button-style;
          }
          .try-now-button4:hover {
            @extend %button-hover;

          }
        }
      }

      .img-container4 {
        max-width: 686px;
        max-height: 479px;
        background-color: #4F9CF9;
      .img-extend{
        vertical-align: bottom;
      }
      }
    }
  }
    .page-section5 {
    padding: 140px 0;
    .section-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .text-container5 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 672px;
        max-height: 411px;
        .heading {
          position: relative;
          @include stylingH2(rgba(0, 0, 0));
          margin: 0;
          .line5{
            position: absolute;
            top: 110px;
            left: -9px;
            z-index: -1;
          }
        }

        .text {
          @include stylingP(rgba(0, 0, 0));
        }

        .button-container {
          width: 100%;

          .try-now-button5 {
            @extend %button-style;
          }

          .try-now-button5:hover {
            @extend %button-hover;
          }
        }
      }

      .img-container5 {
        max-width: 714px;
        max-height: 532px;
        .img-api {
          vertical-align: bottom;
          width: 100%;
          height: auto;
        }

      }
    }
  }
    .page-section6 {
      padding: 140px 0;
        .text-container6{
          text-align: center;
          .heading{
            position: relative;
            @include stylingH2(black);
            .line6{
              position: absolute;
              top: 52px;
              left: 740px;
              z-index: -1;
            }
          }
          .text-wrapper{
            display: flex;
            justify-content: center;
            .text{
              @include stylingP(black);
              max-width: 979px;
            }
          }

      }
        .card-container{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 32px;
          .name{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
          }
          h4{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            /* identical to box height */

            letter-spacing: -0.02em;
          }
          .plan{
            transition: 1.5s;
            border: rgba(255, 228, 146, 1) solid 1px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 40px 44px;
            gap: 25px;
            .plan-list{
              .item-wrapper{
                display: flex;
                gap: 19px;
                align-items: center;
              }
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
              gap: 28px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              /* identical to box height, or 125% */

              letter-spacing: -0.02em;
            }
            .btn-get-started{
              padding: 16px 40px;
              background: #FFFFFF;
              border: 1px solid #FFE492;
              border-radius: 8px;
              p{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.02em;
              }
            }
          }
          .plan:hover{
            .prise {
              color: #FFE492;
            }
            .icon-check{
              filter: invert(1);
            }
            .btn-get-started{
              background-color: #4F9CF9;
              border-radius: 8px;
              color: #FFFFFF;
              border: none;
            }
            .btn-get-started:hover{
              background-color: #FFE492;
              color: #043873;
            }
            padding: 80px 44px;
            background: #043873;
            color: white;
            border: none;
          }
        }
    }
    .page-section7 {
      background-color: #043873;
      padding: 140px 0;
      .container{
        position: relative;
          .bg2{
            position: absolute;
            top:-330px;
            left:0;
          }
          .text-container7 {
            text-align: center;
            .heading {
              position: relative;
              z-index: 0;
              @include stylingH2(white);

              .line7 {
                position: absolute;
                top: 60px;
                left: 990px;
                z-index: -1;
              }
            }

            .text-wrapper {
              display: flex;
              justify-content: center;

              .text {
                @include stylingP(white);
                max-width: 1064px;
              }
            }

            .button-container {
              width: 100%;

              .try-taskey {
                @extend %button-style;
              }

              .try-taskey:hover {
                @extend %button-hover;
              }
            }

          }
      }
  }
    .page-section8 {
    padding: 140px 0 100px 0;
    .section-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text-container8 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;
        .heading {
          position: relative;
          @include stylingH2(rgba(0, 0, 0));
          .line8{
            position: absolute;
            top: 63px;
            left: 210px;
            z-index: -1;
          }
        }

        .text {
          @include stylingP(rgba(0, 0, 0));
        }

        .button-container {
          width: 100%;

          .try-free-button8 {
            @extend %button-style;
          }

          .try-free-button8:hover {
            @extend %button-hover;
          }
        }
      }

      .img-container8 {
        max-width: 681px;
        max-height: 382px;
        .img-8 {
          width: 100%;
          height: auto;
        }

      }
    }
  }
    .page-section9 {
    padding: 140px  0;
    .section-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .wrapper-heading{
        .heading {
          position: relative;
          @include stylingH2(rgba(0, 0, 0));
          .line9{
            position: absolute;
            top: 55px;
            left: 150px;
            z-index: -1;
          }
        }
        margin-bottom: 100px;
      }
      .wrapper-sponsors{
        width:1482px;
        height: 71px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

    }
  }
    .page-section10 {
      background-color: #043873;
      padding: 140px 0;
      border: #00c39a solid 1px;
      background-image: url("img/Element-bg3.svg");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      .container {
        .section-container {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .text-container10 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 798px;
            max-height: 468px;

            .heading {
              @include stylingH2(#FFFFFF);
              margin: 0;
            }

            .text {
              @include stylingP(#FFFFFF);
            }

            .button-container {
              width: 100%;

              .try-now-button10 {
                @extend %button-style;
              }

              .try-now-button10:hover {
                @extend %button-hover;
              }
            }
          }

          .img-container10 {
            max-width: 714px;
            max-height: 532px;

            .img-api {
              vertical-align: bottom;
              width: 100%;
              height: auto;
            }

          }
        }
      }
  }
    .page-section11 {
      padding: 140px 0;
      .section-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        .wrapper-heading{
          .heading {
            position: relative;
            @include stylingH2(rgba(0, 0, 0));
            .line11{
              position: absolute;
              top: 30px;
              left: 575px;
              z-index: -1;
            }
          }
        }
        .clients-block{
          display: flex;
          gap:32px;
          padding: 60px 0;
          .card{
            transition: 1.5s;
            padding: 60px 40px;
            box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            background-color: #4F9CF9;
            color: white;
            .top-part-block{
              max-width: 392px;
              border-bottom: white solid 1px;
              .header-img{
                  filter: invert(1) grayscale(100%)  brightness(100);
              }
              .text{
                padding-top: 32px;
                padding-bottom: 40px;
              }
            }
            .bottom-part-block{
              display: flex;
              padding-top: 60px;
              gap:42px;
              width: 383px;
                .name{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                margin-bottom: 15px;
                color:#043873;
              }
                .talent {
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 20px;
                  letter-spacing: -0.02em;
                }
            }
          }
          .card:hover{
            background-color: #FFFFFF;
            color:black;
            .header-img{
              filter:none;
            }
            .top-part-block {
              max-width: 392px;
              border-bottom: black solid 1px;
            }
          }
        }
        .slider-block{
          width: 60px;
          display: flex;
          justify-content: space-between;
          .slider-item{
            width: 12px;
            height: 12px;
            background-color: #4F9CF9;
            border-radius: 60%;
          }
          .active{
            background-color: #043873;
          }
        }
      }
    }
    .page-section12 {
      padding: 140px 0;
      background-color: #043873;
      .section-container{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 608px;
        text-align: center;
        .heading{
          @include stylingH2(white);
        }
        .text-wrapper {
          margin: 0 auto;
          width: 550px;
          height: auto;
          .text1 {
            margin-top: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;
            /* or 133% */
            text-align: center;
            letter-spacing: -0.02em;
            color: #FFFFFF;
          }
        }
        .button-container {
          width: 100%;
          padding: 40px 0;
          .try-free-button12 {
            @extend %button-style;
          }
          .try-free-button12:hover {
            @extend %button-hover;

          }
        }
        .text2{
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 32px;
          /* identical to box height, or 133% */

          text-align: center;
          letter-spacing: -0.02em;

          color: #FFFFFF;
        }
        .os-block{
          padding-top: 40px;
          padding-bottom: 32px;
          .os-logo-windows{
            margin: 0 40px;
          }
        }

      }

    }

}

.footer-block{
  background-color: #043873;
  padding-bottom: 32px;
    .top-footer-block {
      display: flex;
      margin-bottom: 100px;

      .logo-footer-block {
        width: 240px;
        height: auto;
        margin-right: 100px;

        .text-under-logo {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 30px;
          /* or 167% */
          letter-spacing: -0.02em;
          color: #F7F7EE;
        }
      }

      .column-footer1 {
        width: 205.25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-right: 100px;

        .header {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .item {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .item:hover {
          color: #FFE492;
        }
      }

      .column-footer2 {
        width: 205.25px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-right: 100px;

        .header {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .item {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .item:hover {
          color: #FFE492;
        }
      }

      .column-footer3 {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 205.25px;
        margin-right: 100px;

        .header {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          /* identical to box height */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .item {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .item:hover {
          color: #FFE492;
        }
      }

      .section-footer-block {
        width: 259px;

        .header {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 36px;
          /* identical to box height, or 129% */
          letter-spacing: -0.02em;
          color: #FFFFFF;
          margin-bottom: 23px;
        }

        .text {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* or 125% */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .button-container {
          margin-top: 23px;
          width: 100%;

          .try-now-button13 {
            @extend %button-style;
          }

          .try-now-button13:hover {
            @extend %button-hover;
          }
        }
      }
    }

    .line {
      border-bottom: rgba(46, 78, 115, 1) solid 1px;
      margin-bottom: 52.93px;
    }

    .bottom-footer-block {
      display: flex;
      justify-content: space-between;

      .left-part-fb {
        display: flex;
        gap: 60px;

        .lang-block {
          display: flex;
          align-items: center;
          gap: 6px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          /* identical to box height, or 125% */
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }

        .lang-block:hover {
          color: #caec3a;
        }

        .site-block {
          display: flex;
          gap: 60px;

          .item {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height, or 125% */
            letter-spacing: -0.02em;
            color: #FFFFFF;
          }

          .item:hover {
            color: #FFE492;
          }
        }
      }

      .right-part-fb {
        display: flex;
        gap: 32px;
      }
    }

}