@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: bottom;
}

%button-style{
  position: relative;
  padding: 16px 34px 16px 24px;
  font-size: 18px;
  background-color: #4F9CF9;
  border-radius: 8px;
  color: #FFFFFF;
  border: none;
  img{
    position: absolute;
    top: 21px;
    margin-left: 10px;
  }
}

%button-hover{
  background-color:rgba(255, 228, 146, 1);
  color: #043873;
  img{
    display: none;
  }

}

%h2-style{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

%text-style{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  padding-top: 24px;
  padding-bottom: 60px;
}

@mixin stylingH2($color){
  @extend %h2-style;
  color:$color;
}

@mixin stylingP($color){
  @extend %text-style;
  color:$color;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 220px;
}

.btn-arrow {
  @extend %button-style;
}

.btn-arrow:hover {
  @extend %button-hover;
}
.img {
  width: 100%;
  height: auto;
}
.bg-prime{
  background-color: #043873;
}
.ptb{
  padding: 140px 0;
}
.bg-lines{
  background-image: url("img/Element-bg3.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
.button-container_ptb40 {
  padding: 40px 0;
}
.button-container_mt23{
  margin-top: 23px;
}
.footer_pb32{
  padding-bottom: 32px;
}

.header {
  background-color: #043873;

  &__navigate {
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
    }

    .nav-container {
      display: flex;
      align-items: center;
      padding: 16px 0;
      .menu {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        &__item {
          display: flex;
          align-items: center;
          padding: 13px 0;
        }

        &__item:hover {
          text-decoration-line: underline;
        }

        &__link {
          text-decoration: none;
          font-family: 'DM Sans';
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 23px;
          color: #FFFFFF;
        }

        &__svg {
          padding: 10px 10px 10px 15px;
          margin-right: 32px;
        }
      }
      .auth {
        display: flex;
        align-items: center;
        &__btn {
          font-size: 18px;
          padding: 16px 40px;
          background-color: #4F9CF9;
          border-radius: 8px;
          color: #FFFFFF;
          margin-right: 24px;
          margin-left: 28px;
          border: none;
        }
        &__btn:hover {
          background-color: rgba(255, 228, 146, 1);
          color: #043873;
        }

        .btn-arrow {
          @extend %button-style;
        }

        .btn-arrow:hover {
          @extend %button-hover;
        }
      }
      .burger-menu{
        padding-left: 20px;
        display: none;
      }
      .burger-menu:hover{
        filter: contrast(50%) ;
      }
    }
  }
}

.main {
    .hero {
      padding: 140px 0;
      &__container{
        background-image: url("img/El-bg.svg");
        background-repeat: no-repeat;
        background-position-y: 60px;
        background-position-x: 10px;
      }
      &__wrapper{
        display: flex;
        .text-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .head {
            @include stylingH2(#FFFFFF);
            font-size: 64px;
          }
          .text {
            @include stylingP(#FFFFFF);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
        }
      }
      &__wrapper-img {
        max-width: 824px;
        max-height: 549px;
      }
    }
    .management {
      padding: 140px 0 100px 0;
      &__container {
        background-image: url("img/el-bg2.svg");
        background-repeat: no-repeat;
        background-position-y: bottom;
      }
      &__wrapper {
        display: flex;
        justify-content: space-between;
        gap:60px;
        .text-container {
          max-width: 672px;
          height: auto;
          padding: 60px 0;
          .head {
            position: relative;
            @include stylingH2(rgba(0, 0, 0));
            line-height: 87px;
            margin: 0;
            &__line{
              position: absolute;
              top: 120px;
              left: 10px;
              z-index: -1;
            }
          }
          .text {
            @include stylingP(rgba(0, 0, 0));
          }
        }
        &__wrapper-img {
          max-width: 748px;
          max-height: 547px;
        }
      }

      }
    .work {
      padding-bottom: 140px;
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:100px;
      .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 672px;
        max-height: 411px;
        .head {
          position: relative;
          @include stylingH2(rgba(0, 0, 0));
          line-height: 87px;
          margin: 0;
          &__line{
            position: absolute;
            top: 62px;
            left: 220px;
            z-index: -1;
          }
        }
        .text {
          @include stylingP(rgba(0, 0, 0));
        }
      }
      &__wrapper-img {
        max-width: 740px;
        max-height: 661px;
      }
    }
  }
    .use-as {
      position: relative;
      background-color: #043873;
      padding: 140px 0;
      z-index: 0;
    &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap:98px;
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 672px;
        max-height: 411px;
        .head {
          position: relative;
          @include stylingH2(#FFFFFF);
          margin: 0;
          &__line{
            position: absolute;
            top: 65px;
            left: 168px;
            z-index: 1;
          }
        }
        .text {
          @include stylingP(#FFFFFF);
        }
      }
      .use-as__wrapper-img {
          max-width: 686px;
          max-height: 479px;


      }
    }
  }
    .customise {
    &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap:92px;
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 669px;
        height: auto;
        .head {
          position: relative;
          @include stylingH2(rgba(0, 0, 0));
          margin: 0;
          &__line{
            position: absolute;
            top: 110px;
            left: -9px;
            z-index: -1;
          }
        }
        .text {
          @include stylingP(rgba(0, 0, 0));
        }
      }
    }
    &__wrapper-img {
        max-width: 714px;
        height: auto;
      }
  }
    .pricing {
        .text-container{
          text-align: center;
          .head{
            position: relative;
            @include stylingH2(black);
            &__line{
              position: absolute;
              top: 52px;
              left: 740px;
              z-index: -1;
            }
          }
          .text-wrapper{
            display: flex;
            justify-content: center;
            .text{
              @include stylingP(black);
              max-width: 979px;
            }
          }
      }
        .card-container{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 32px;
          .plan{
            transition: 1.5s;
            border: rgba(255, 228, 146, 1) solid 1px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding: 40px 44px;
            gap: 25px;
            .name{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
            }
            .prise{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 700;
              font-size: 36px;
              line-height: 44px;
              /* identical to box height */
              letter-spacing: -0.02em;
            }
            .plan-list{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
              gap: 28px;
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              /* identical to box height, or 125% */
              letter-spacing: -0.02em;
              &__item-wrapper{
                display: flex;
                gap: 19px;
                align-items: center;
              }
            }
            .btn-get-started{
              padding: 16px 40px;
              background: #FFFFFF;
              border: 1px solid #FFE492;
              border-radius: 8px;
              .prise,.description{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: -0.02em;
              }
            }
          }
          .plan:hover{
            .prise {
              color: #FFE492;
            }
            .plan-list__icon-check{
              filter: invert(1);
            }
            .btn-get-started{
              background-color: #4F9CF9;
              border-radius: 8px;
              color: #FFFFFF;
              border: none;
            }
            .btn-get-started:hover{
              background-color: #FFE492;
              color: #043873;
            }
            padding: 80px 44px;
            background: #043873;
            color: white;
            border: none;
          }
        }
    }
    .your-work {
      padding: 140px 0;
      &__container{
        position: relative;
      }
      &__bg2{
        position: absolute;
        top:-330px;
        left:0;
      }
      .text-container {
        display:flex;
        flex-direction: column;
        align-items: center;
        .head {
          position: relative;
          z-index: 0;
          @include stylingH2(white);

          &__line {
            position: absolute;
            top: 60px;
            left: 760px;
            z-index: -1;
          }
        }
        .text-wrapper {
          display: flex;
          justify-content: center;
          text-align: center;
          .text {
            @include stylingP(white);
            max-width: 1064px;
          }
        }
      }
  }
    .your-data {
    padding: 140px 0 100px 0;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 800px;
        .head {
          position: relative;
          @include stylingH2(rgba(0, 0, 0));
          &__line{
            position: absolute;
            top: 63px;
            left: 210px;
            z-index: -1;
          }
        }
        .text {
          @include stylingP(rgba(0, 0, 0));
        }

      }
    .img-container {
        max-width: 681px;
        max-height: 382px;
      }
  }
    .sponsors {
    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .head {
        position: relative;
        @include stylingH2(rgba(0, 0, 0));
        padding-bottom: 100px;
        &__line{
          position: absolute;
          top: 55px;
          left: 150px;
          z-index: -1;
        }
      }
    }
      &__content{
        display: flex;
        width: 100%;
        justify-content: space-around;
      }

  }
    .apps {
      &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:100px;
        }
      .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 798px;
        max-height: 468px;

        .head {
          @include stylingH2(#FFFFFF);
          margin: 0;
        }
        .text {
          @include stylingP(#FFFFFF);
        }

      }
      .img-container {
        max-width: 714px;
        max-height: 532px;

      }

  }
    .testimonial {
      &__wrapper{

        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .head {
        position: relative;
        @include stylingH2(rgba(0, 0, 0));
        &__line{
          position: absolute;
          top: 30px;
          left: 575px;
          z-index: -1;
        }
      }
      .clients{
        display: flex;
        gap:32px;
        padding: 60px 0;
        .card{
          transition: 1.5s;
          padding: 60px 40px;
          box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          background-color: #4F9CF9;
          color: white;
          .top-part{
            max-width: 392px;
            border-bottom: white solid 1px;
            .header-img{
              filter: invert(1) grayscale(100%)  brightness(100);
            }
            .text{
              padding-top: 32px;
              padding-bottom: 40px;
            }
          }
          .bottom-part{
            display: flex;
            padding-top: 60px;
            gap:42px;
            max-width: 383px;
            .name{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 600;
              font-size: 24px;
              line-height: 36px;
              margin-bottom: 15px;
              color:#043873;
            }
            .talent {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              letter-spacing: -0.02em;
            }
          }
        }
        .card:hover{
          background-color: #FFFFFF;
          color:black;
          .header-img{
            filter:none;
          }
          .top-part-block {
            max-width: 392px;
            border-bottom: black solid 1px;
          }
        }
      }
      .slider-block{
        width: 60px;
        display: flex;
        justify-content: space-between;
        .slider-item{
          width: 12px;
          height: 12px;
          background-color: #4F9CF9;
          border-radius: 60%;
        }
        .active{
          background-color: #043873;
        }
      }
    }
    .trial {
      &__wrapper{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 608px;
        text-align: center;
      }
      .head{
        @include stylingH2(white);
      }
      .text-wrapper {
        margin: 0 auto;
        width: 550px;
        height: auto;
        .text1 {
          margin-top: 24px;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 32px;
          /* or 133% */
          text-align: center;
          letter-spacing: -0.02em;
          color: #FFFFFF;
        }
      }
      .after-btn-text{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        /* identical to box height, or 133% */
        text-align: center;
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }
      .os-block{
        padding-top: 40px;
        padding-bottom: 32px;
        .os-logo-windows{
          margin: 0 40px;
        }
      }

    }

}

.footer{
    &__top-part {
      display: flex;
      justify-content: space-between;
      padding-bottom: 100px;
    }
    &__logo {
    width: 240px;
    height: auto;
    margin-right: 100px;

    .text-under-logo {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */
      letter-spacing: -0.02em;
      color: #F7F7EE;
    }
  }

    &__column-wrapper {
    width: 205.25px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .header {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }

    .item {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }

    .item:hover {
      color: #FFE492;
    }
  }

    &__aside {
    width: 259px;

    .head {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 36px;
      /* identical to box height, or 129% */
      letter-spacing: -0.02em;
      color: #FFFFFF;
      margin-bottom: 23px;
    }

    .text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* or 125% */
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }
  }

    .line {
      border-bottom: rgba(46, 78, 115, 1) solid 1px;
      margin-bottom: 52.93px;
    }

    &__bottom-part {
      display: flex;
      justify-content: space-between;
    }
    .left-part-footer {
    display: flex;
    gap: 60px;
    .lang {
      display: flex;
      align-items: center;
      gap: 6px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      /* identical to box height, or 125% */
      letter-spacing: -0.02em;
      color: #FFFFFF;
    }

    .lang-block:hover {
      color: #caec3a;
    }

    .site-block {
      display: flex;
      gap: 60px;

      .item {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        letter-spacing: -0.02em;
        color: #FFFFFF;
      }

      .item:hover {
        color: #FFE492;
      }
    }
  }

    .right-part-footer {
    display: flex;
    gap: 32px;
  }

}
@media (max-width: 1880px){
  .container{
    max-width: 1800px;
    padding:0 100px;
  }
}
@media (max-width: 1680px) {
  .container {
    max-width: 1678px;
    padding: 0 40px;
  }
}
@media (max-width: 1581px) {
  .container {
    max-width: 1400px;
    padding: 0 32px;
  }
  .main {
    .hero {
      padding: 100px 0;
      &__container{
        background-image: url("img/El-bg.svg");
        background-repeat: no-repeat;
        background-position-y: 20px;
        background-position-x: -170px;
      }
      &__wrapper-img {
        max-width: 685px;
        height: auto;
      }
    }
    .management{
      background-image: url("img/el-bg2.svg");
      background-repeat: no-repeat;
      background-position-y: top;
      background-position-x: -190px;
      .text-container{
        max-width: 617px;
        height: auto;
        padding: 0;
      }
      &__container{
        background-image: none;
      }
      &__wrapper{
        gap:0;
        &__wrapper-img{
          max-width: 719px;
          max-height: 448px;
        }
      }

    }
    .work{
      &__wrapper {
        gap:160px;
      }
      .text-container{
        max-width: 593px;
        max-height: 324px;
      }
      &__wrapper-img {
        max-width: 583px;
        max-height: 543px;
      }
    }
    .use-as{
      &__wrapper{
        .text-container{
          max-width: 552px;
          max-height: 381px;
          .head {
            &__line{
              top: 153px;
              left:-66px;
            }
          }
        }
      }

    }
    .customise{
      &__wrapper-img {
        max-width: 670px;
        height: auto;
      }
      &__wrapper{
        .text-container{
          max-width: 606px;
          height: auto;
        }
      }
    }
    .your-work{
      background-image: url("img/bg2-el.svg");
      background-repeat: no-repeat;
      background-position: -258px -191px;
      &__bg2{
        display: none;
      }
    }

  }
}
@media (max-width: 1270px) {
  .header{
    .nav-container {
      .menu-container {
        display: none;
      }
      .burger-menu {
        display: block;
      }
    }

  }
  .container {
    max-width: 1260px
  }

  .main {
    .hero {
      background-image: url("img/Elementbg1270.png");
      background-repeat: no-repeat;
      background-position-x: 5px;
      background-position-y:120px;
      &__wrapper{
        justify-content: space-between;
        .text-container{
          max-width: 526px;
          height:auto ;
        }
      }

      &__container{
        background-image: none;
        background-repeat: no-repeat;
        background-position-x: 5px;
      }
      &__wrapper-img {
        max-width: 526px;
        height: 361px;
      }
    }
    .management{
      background: url("img/BACKGROUND1270.svg") no-repeat;
      .text-container{
        max-width: 436px;
        height: auto;
        padding: 0;
        background-image: url("img/Elementline1270.png");
        background-repeat: no-repeat;
        background-position-x:225px;
        background-position-y:147px ;
        .head{
          &__line{
            display: none;
          }
        }
      }
       &__wrapper{
        gap:0;
         .management__wrapper-img{
           max-width: 528px;
           max-height: 328px;
         }
      }

    }
    .work{
      &__wrapper {
        gap:0px;
      }
      .text-container{
        max-width: 527px;
        max-height: 324px;
      }
      .work__wrapper-img {
        max-width: 528px;
        max-height: 491px;
      }
    }
    .use-as{
      &__wrapper{
        .text-container{
          max-width: 528px;
          .head {
            &__line{
              top: 153px;
              left:-66px;
            }
          }
        }
        .use-as__wrapper-img{
          max-width: 459px;

        }
      }

    }
    .customise{
      &__wrapper-img {
        max-width: 534px;
        height: auto;
      }
      &__wrapper{
        gap:60px;
        .text-container{
          max-width: 494px;
          height: auto;
        }
      }
    }
    .pricing{
      .text-container{
        max-width: 1088px;
        .head{
          &__line{
            left:540px;
          }
        }
      }
      .card-container{
        max-width: 1088px;
        max-height: 853px;
      }
    }
    .your-work{
      background-image: none;
      .text-container{
        max-width: 650px;
        align-items: flex-start;
        .head{
          font-size: 64px;
          line-height: 77px;
          &__line{
            top: 131px;
            left: 354px;
          }
        }
      }
      .head{
        max-width: 1064px;
        &__line{

        }
      }

    }
    .your-data{
      .text-container{
        max-width: 536px;
      }
      .img-container{
        max-width: 562px;
      }
    }
    .apps{
      .img-container{
        max-width: 528px;
      }
      .text-container{
        max-width: 460px;
      }
    }

  }
}


